Body {
	background: #000000;
	padding: 100px;
}


	/* tags */ 
	header {

			padding-left: 40px;
			padding-right: 40px;
			padding-bottom: 40px;
	}
		h1 {
			text-align: right;
			color: #FFFFFF;
			padding-right: 70px;
		}



	/* classes */ 	
	.introducao {
			color: #FFFFFF;
	}	

	.miolo {
			color: #FFFFFF;
			text-align: center;

	}

	/* IDS */ 
	#F1{
		padding-left: 0px;
		height: 20%;
		width: 20%;
	}
	
	#F2{
		padding-left: 200px;
		height: 20%;
		width: 20%;
	}
	
	#F3{
		padding-left: 200px;
		height: 20%;
		width: 20%;
	}	


